*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0d1117;
color:white;
scroll-behavior:smooth;
}

header{
height:100vh;
background:url('https://images.unsplash.com/photo-1518770660439-4636190af475') center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.overlay{
background:rgba(0,0,0,0.8);
padding:60px;
border-radius:20px;
}

header h1{
font-size:70px;
color:#58a6ff;
}

header h2{
font-size:35px;
color:#39d353;
}

.btn{
display:inline-block;
margin-top:20px;
padding:15px 30px;
background:#58a6ff;
color:white;
text-decoration:none;
border-radius:10px;
}

nav{
display:flex;
justify-content:center;
padding:20px;
background:#161b22;
position:sticky;
top:0;
}

nav a{
color:white;
margin:0 20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#39d353;
}

section{
padding:80px;
}

h2{
text-align:center;
margin-bottom:40px;
color:#58a6ff;
}

.card,.app-card{
background:#161b22;
padding:25px;
margin:20px auto;
max-width:900px;
border-radius:15px;
transition:.4s;
}

.card:hover,.app-card:hover{
transform:translateY(-10px);
box-shadow:0 0 20px #58a6ff;
}

.app-card img{
width:80px;
margin-bottom:15px;
}

pre{
background:black;
color:#39d353;
padding:20px;
border-radius:10px;
margin-top:15px;
overflow:auto;
}

form{
display:flex;
flex-direction:column;
max-width:700px;
margin:auto;
}

input,textarea{
margin:15px 0;
padding:18px;
border:none;
border-radius:10px;
font-size:16px;
}

button{
padding:18px;
background:#58a6ff;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
font-size:18px;
}

button:hover{
background:#39d353;
}

footer{
text-align:center;
padding:30px;
background:#161b22;
}